@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.back-image {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -20%);
    width: 100%;
    transition: left 0.8s, top 0.8s;
    z-index: 2;
}


.back-image img {
    width: 100%;
    height: 140vh;
    filter: brightness(70%);
}

.side {
    z-index: 3;
}

.right,
.left {
    position: relative;
    overflow: hidden;
}

.side,
.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Hide register info */
.right .register,
.left .register {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.8s, opacity 0.2s;
}

.right .login,
.left .login {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s, opacity 0.2s;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.left,
section.right {
    align-items: stretch;
}

.side {
    flex-direction: column;
    color: #fff;
    letter-spacing: 1px;
}

.side img {
    width: 70%;
    max-width: 70%;
}

.side p {
    width: 80%;
    text-align: center;
    line-height: 28px;
}
.title{
    font-size: 22px !important;
}

.side button {
    background: none;
    color: #fff;
    border: 2px solid;
    padding: 12px 32px;
    margin: 24px;
    margin-bottom: 100px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s !important;
}

.side button:hover {
    background: #fff !important;
    color: #303841 !important;
}

.container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.5px;
    margin-top: 14px;
    color: #303841;
}

.logo{
    filter: brightness(70%);
    width: 15%;
}

.form-control{
    width: 100%;
    height: 3rem !important;
    color: #303841 !important;
}

#swal2-checkbox{
    width: 5% !important;
}

.swal2-label{
    padding-left: 1rem;
}

.form-check-input{
    padding: 0 5px !important;
}
.form-check-label{
    letter-spacing: 1px;
    color: #303841 !important;
}

input,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

input {
    width: 100%;
    background: #e6e6e6;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

input ~i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color 0.4s;
}

input:focus ~i {
    color: #134e5e;
}


.btn {
    color: #fff !important;
    background-color: #800000 !important;
    height: 3rem;
    padding: 0 8.6rem !important;
    margin: 15px auto !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    transition: opacity 0.4s !important;
}

.nav-link{
    text-transform: uppercase;
    font-size: 14px !important;
    letter-spacing: 1px;
}

.btn:hover {
    opacity: 0.9;
}

.register button.submit {
    background-color: #303841;
}

/* ---  REGISTER Layout  --- */

/* Hide login side and main */
body.signup .right .login,
body.signup .left .login {
    transform: translateX(100%);
    opacity: 0;
}

/* show register side and main */
body.signup .right .register,
body.signup .left .register {
    transform: translateX(0);
    opacity: 1;
}

.homeButton{
    position: absolute;
    top: 3%;
    right: 3%;
}

.homeButton2{
    position: absolute;
    top: 3%;
    left: 3%;
}

.homeButton i, .homeButton2 i{
    font-size: 18px;
    color: #800000;
    border: 1px solid #800000;
    padding: 10px 14px;
    border-radius: 50%;
    transition: 0.4s;
}

.homeButton i:hover , .homeButton2 i:hover{
    background-color: #800000;
    color: #fff;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #4d4c4c;
    letter-spacing: 1px ;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    padding: 10px 12px;
    bottom: -2.5em;
    left: -100%;
    white-space: nowrap;
    visibility: hidden;
    z-index: 99999999;
}
[data-title] {
    position: absolute;
}

body.signup .back-image {
    left: 100%;
}

.container h2, p{
    color: #EEEEEE;
}

.container .message{
    color: #EEEEEE;
    margin: 0 0 1.5rem 0 !important;
}

.container h2{
    margin: 1.5rem 0 1rem 0 !important;
}

.container .explore{
    margin-top: -2px !important;
}

/* ---   RESPONSIVENESS   --- */

@media only screen and (min-width:320px) and (max-width: 780px) {

    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10%;
    }

    body .back-image,
    body.signup .back-image {
        left: 50%;
        top: 100%;
        transform: translate(-50%, -8%);
        width: 200%;
    }

    body .left {
        grid-row: 2;
    }

    body.signup .left {
        grid-row: 1;
    }

    .side img,
    .side .message {
        display: none;
    }

    .side button {
        margin: 8px;
    }

    .title {
        margin-top: 1rem !important;
        text-transform: capitalize;
    }
    .logo{
        display: none !important;
    }
    form {
        padding: 0 !important;
    }
    .btn{
        margin-bottom: 0rem !important;
    }
    .bottomLink{
        margin-top: 1.3rem !important;
    }
    .homeButton i{
        font-size: 18px;
    }
}
